<div class="container-fluid" >
  <header class="xl:container mx-auto py-2 rounded-bottom" style="background-color: #FF4A00;">
    <div class="flex justify-around content-center">
      <div class="navbar-brand">
        <%# image_tag( (asset_pack_path 'media/images/logo.jpg'), size: "35x35" ) %>
        <%# image_tag( 'logo.jpg', size: "35x35" ) %>
      </div>

      <ul class="flex justify-center content-center text-white">
        <li class="nav-item px-3">
          <%= link_to "conferences", admin.manager_conferences_path, class: "text-lg " %>
        </li>
        <li class="nav-item px-3">
          <%= link_to "jsj_forms", admin.manager_jsj_forms_path, class: "text-lg " %>
        </li>
        <li class="nav-item px-3">
          <%= link_to "attend_data", admin.manager_attend_data_select_path, class: "text-lg " %>
        </li>
        <li class="nav-item px-3">
          <%= link_to "articles", admin.manager_articles_path, class: "text-lg " %>
        </li>
 
      </ul>

      <div class="nav-link flex justify-center content-center">
        <%= button_to('退出登录', account.destroy_admin_session_path, method: :delete, class: "btn btn-xs btn-gray") %>
      </div>
    </div>


  </header>
</div>
