


<div data-controller="cert" class="w-10/12 lg:w-6/12 mx-auto rounded-2xl shadow-2xl bg-white p-5 mt-8">

  <%= form_with url: frontend.certifications_search_datum_path, scope: :certification_search, data: {turbo: false} do |form| %>
    <%# invisible_captcha nonce: true %>
    <div class="block">
      <div class="w-full" >
        姓名:
      </div>
      <%= form.text_field :name, class: "rounded-md border-gray-300 shadow-sm focus:border-orange-400 focus:ring focus:ring-orange-300 focus:ring-opacity-50" %>
    </div>

    <div class="block  mt-5">
      <div class="w-full">
        电话:
      </div>
      <%= form.text_field :phone, class: "rounded-md border-gray-300 shadow-sm focus:border-orange-400 focus:ring focus:ring-orange-300 focus:ring-opacity-50" %>
    </div>

    <%# form.submit data: {action: "cert#submit"} %>
    <%= form.submit "查询", class: 'btn p-2 btn-primary mt-5' %>
  <% end %>

  <% if session[:search_notifier] %>
    <p class="relative p-3.5 bg-yellow-100 rounded mt-3 border border-yellow-300 text-sm"> <%= session.delete(:search_notifier) %></p>
  <% end %>
</div>

<div class="w-full my-6"></div> 
