<p style="color: green"><%= notice %></p>

<%= render @certification_pdf %>

<div>
  <%= link_to "Edit this certification pdf", edit_certification_pdf_path(@certification_pdf) %> |
  <%= link_to "Back to certification pdfs", certification_pdfs_path %>

  <%= button_to "Destroy this certification pdf", @certification_pdf, method: :delete %>
</div>
