
<% form_url = external_article.persisted? ? manager_external_article_path(external_article) : manager_external_articles_path %>
<%= form_with(model: external_article, url: form_url) do |form| %>
  <% if external_article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(external_article.errors.count, "error") %> prohibited this manager_external_article from being saved:</h2>

      <ul>
        <% external_article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='w-full mt-5'>
    <%= form.label '标题:' %>
    <%= form.text_field :title, class: 'form-input rounded' %>
  </div>

  <div class='w-full mt-5'>
    <%= form.label 'tags:' %>
    <%= external_article.article_tags.ids %>
    <%= form.select :article_tags, 
                    options_from_collection_for_select(Backend::ArticleTag.all, :id, :name, external_article.article_tags.ids),
                    { include_blank: true }, 
                    { :multiple => true, class: 'choice form-input rounded'} %>

  </div>

  <div class='w-full mt-5'>
    <%= form.label '作者:' %>
    <%= form.text_field :author, class: 'form-input rounded' %>
  </div>

  <div class='w-full mt-5'>
    <%= form.label '来源:' %>
    <%= form.text_field :source_url, class: 'form-input rounded' %>
  </div>


  <div>
    <%= form.submit  class: 'btn btn-sm btn-success mt-5'  %>
  </div>
<% end %>
