<div id="<%= dom_id article %>">
  <h2 class="text-center my-5"><%= article.title %></h2>

  <%= article.content %>

  <p>author: <%= article.author %></p>
  <p>updated_at: <%= article.updated_at %></p>
  <p>created_at: <%= article.created_at %></p>

  <div class="my-3"></div>
</div>
