<div id="<%= dom_id article %>">
  <div class='h4'> Title: </div>
  <%= article.title %>

  <div class='h4'> Author: </div>
  <%= article.author %>

  <div class='h4'> Source URL: </div>
  <%= article.source_url %>

  <div class='h4'> Content: </div>
  <%= article.content %>
</div>

