
<div class="max-w-screen-lg mx-auto">
  <h1>全部文章</h1>

  <div id="manager_articles" class="grid grid-cols-3 gap-4 mt-5">
    <% @articles.each do |article| %>
      <div class='border p-3 shadow-xl'>
        <div class='h4'> 
          Title: 
          <%= article.title %>
        </div>

        <div class='h4'> 
          Author: 
          <%= article.author %>
        </div>

        <div class='h4'> ArticleTags: 
          <%= article.article_tags.ids %>
        </div>
        
        <div class=''>
          updated at:
          <%= article.updated_at.localtime %>
        </div>

        <div class=''>
          created_at: 
          <%= article.created_at.localtime %>
        </div>

        <p>
          <%= link_to "Show this article", manager_article_path(article), class: 'btn btn-sm btn-primary mt-3' %>
        </p>
      </div>
    <% end %>
  </div>

  <%= link_to "New article", new_manager_article_path, class: 'btn btn-sm btn-success mt-5' %>
</div>