  
<ul class="flex justify-center content-center text-white">
  <li class="nav-item px-3">
    <%= link_to "首页", frontend.root_path, class: "" %>
  </li>
  <li class="nav-item px-3">
    <%= link_to "前沿课堂", '#', class: "" %>
  </li>
  <li class="nav-item px-3">
    <%= link_to "学时证明", frontend.certifications_search_path, class: "" %>
  </li>
  <li class="nav-item px-3">
    <%= link_to "成果评比", "#", class: "" %>
  </li>
   <li class="nav-item px-3">
    <%= link_to "教研会议", "#", class: "" %>
  </li> 

</ul>
