<!DOCTYPE html>
<html>
<head>
  <title>前沿课堂</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag  "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

</head>
<body>
<div class="w-100 h-100  ">
  <div class="max-w-screen-xl  mx-auto ">
    <% if browser.ie? %>
      <%# browser.meta %>
      <div class="unsupport-ie-notice flex w-4/5 mx-auto relative p-2 bg-red-200 border rounded-b-2xl">
        <div class="grow text-center">
          您正在使用：<%= "#{browser.name}: #{browser.version}" %>, 本站不支持IE浏览</br>
          请您使用最新版本的QQ浏览器、360浏览器（极速模式）、Chrome浏览器等访问本站
        </div>
        <div class="close ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div> 
      </div>
    <% end %>

    <% if notice %>
    <div class="notice auto-fade flex w-4/5 mx-auto relative p-2 bg-yellow-100 border rounded-b-2xl " role="alert">
      <div class="grow text-center">
        <%= notice %>
      </div>
      <div class="close ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
    <% end %>

    <% if alert %>
    <div class="alert auto-fade flex w-4/5 mx-auto relative p-2 bg-red-200 border rounded-b-2xl " role="alert">
      <div class="grow text-center">
        <%= alert %>
      </div>
      <div class="close ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
    <% end %>

    <% if flash[:error] %>
    <div class="error auto-fade flex w-4/5 mx-auto relative p-2 bg-red-200 border rounded-b-2xl " role="alert">
      <div class="grow text-center">
        <%= flash[:error] %>
      </div>
      <div class="close ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
    <% end %>

    <div class="bg  overflow-hidden">
      <div class="xl:container mx-auto bg-gray-100 pb-8">
        <% if controller.controller_name == "pages" && controller.action_name == "index" %>
          <%=render 'layouts/frontend/index_header' %>
        <% elsif controller.controller_name == "pages" && controller.action_name == "corp" %>
          <%=render 'layouts/frontend/corp_header' %>
        <% elsif controller.controller_name == "pages" && controller.action_name == "pingbi" %>
          <%=render 'layouts/frontend/corp_header' %>
        <% elsif controller.controller_name == "pages" && controller.action_name == "conferences" %>
          <%=render 'layouts/frontend/corp_header' %>
        <% elsif controller.controller_name == "certifications"%>
          <%= render 'layouts/frontend/certifications_header' %>
        <% else %>
          <%= render 'layouts/frontend/header' %>
        <% end %>

        <%= yield %>

      </div>

      <%= render 'layouts/frontend/footer' %>
    </div>
  </div>
</div>
</body>
</html>
