<!DOCTYPE html>
<html>
<head>
  <title>前沿课堂</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag  "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

</head>
<body>
<div class="w-100 h-100  ">
  <div class="max-w-screen-xl  mx-auto ">
    <% if notice %>
    <p class="notice alert alert-success fade show" role="alert"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="bg  overflow-hidden">
      <div class="container mx-auto bg-gray-100 pb-8">
        <% if controller.controller_name == "pages" && controller.action_name == "index" %>
          <%=render 'layouts/frontend/index_header' %>
        <% elsif controller.controller_name == "pages" && controller.action_name == "corp" %>
          <%=render 'layouts/frontend/corp_header' %>
        <% elsif controller.controller_name == "pages" && controller.action_name == "pingbi" %>
          <%=render 'layouts/frontend/corp_header' %>
        <% elsif controller.controller_name == "pages" && controller.action_name == "conferences" %>
          <%=render 'layouts/frontend/corp_header' %>
        <% elsif controller.controller_name == "certifications"%>
          <%= render 'layouts/frontend/certifications_header' %>
        <% else %>
          <%= render 'layouts/frontend/header' %>
        <% end %>

        <%= yield %>

      </div>

      <%= render 'layouts/frontend/footer' %>
    </div>
  </div>
</div>
</body>
</html>
