<!DOCTYPE html>
<html>
<head>
  <title>前沿课堂</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag  "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

</head>
<body>
<div class="w-100 h-100  ">
  <div class="max-w-screen-xl  mx-auto ">
    <% if browser.ie? %>
      <%# browser.meta %>
      <div class="relative p-2 bg-red-200 border rounded-b-2xl text-center">
        您正在使用：<%= "#{browser.name}: #{browser.version}" %>, 本站不支持IE浏览</br>
        请您使用最新版本的QQ浏览器、360浏览器（极速模式）、Chrome浏览器等访问本站
      </div>
    <% end %>

    <% if notice %>
    <div class="notice relative p-2 bg-yellow-100 border rounded-b-2xl text-center" role="alert">
      <%= notice %>
    </div>
    <% end %>
    <% if alert %>
    <div class="alert relative p-2 bg-red-200 border rounded-b-2xl text-center" role="alert">
      <%= alert %>
    </div>
    <% end %>

    <div class="bg  overflow-hidden">
      <div class="xl:container mx-auto bg-gray-100 pb-8">
        <% if controller.controller_name == "pages" && controller.action_name == "index" %>
          <%=render 'layouts/frontend/index_header' %>
        <% elsif controller.controller_name == "pages" && controller.action_name == "corp" %>
          <%=render 'layouts/frontend/corp_header' %>
        <% elsif controller.controller_name == "pages" && controller.action_name == "pingbi" %>
          <%=render 'layouts/frontend/corp_header' %>
        <% elsif controller.controller_name == "pages" && controller.action_name == "conferences" %>
          <%=render 'layouts/frontend/corp_header' %>
        <% elsif controller.controller_name == "certifications"%>
          <%= render 'layouts/frontend/certifications_header' %>
        <% else %>
          <%= render 'layouts/frontend/header' %>
        <% end %>

        <%= yield %>

      </div>

      <%= render 'layouts/frontend/footer' %>
    </div>
  </div>
</div>
</body>
</html>
